{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
    <title>Base</title>
    {% endblock %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href="static/css/style.css" rel="stylesheet">
    <style>
        td.message-text {
            overflow-wrap: break-word;
            max-width: 520px;
        }
    </style>

</head>
<body>
    <nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
        <button class="btn btn-outline-success me-2" type="button"><a class="navbar-brand" href="{% url 'rapport' %}" style="color: white;">Rapport</a></button>
        <button class="btn btn-outline-success me-2" type="button"><a class="navbar-brand" href="{% url 'mission' %}" style="color: white;">creer_mission</a></button>
        <button class="btn btn-outline-success me-2" type="button"> <a class="navbar-brand active" href="{% url 'gestion' %}" style="color: white;">employé</a></button>
        <button class="btn btn-outline-success me-2" type="button"><a class="nav-link" href="{% url 'time_connection' %}" style="color: white;">heure de connection</a></button>
        <button class="btn btn-outline-success me-2" type="button"><a class="nav-link" href="{% url 'map' %}" style="color: white;">carte</a></button>
        <button class="btn btn-outline-success me-2" type="button"><a class="nav-link" href="{% url 'traject' %}" style="color: white;">traject</a></button>
    </nav>

    <table class="table table-striped table-dark">
    <thead>
        <tr>
        <th scope="col">envoyeur</th>
        <th scope="col">receveur</th>
        <th scope="col">texte</th>
        <th scope="col">heure</th>
        </tr>
        </thead>
        <tbody>
        {% for message in obj %}
        <tr>
            <td> {{ message.envoyeur.username }}</td>
            <td> {{ message.receveur.username }}</td>
            <td class="message-text"> {{ message.texte }}</td>
            <td> {{ message.heure }}</td>
        </tr>
        {% endfor %}
        <tr>
        </tbody>
        </table>

    <footer>
        <div class="footer">
            <img src="{% static 'img/Bcom.png' %}" alt="Image 1">
            <img src="{% static 'img/Bcom.png' %}" alt="Image 2">
            <img src="{% static 'img/Bcom.png' %}" alt="Image 3">
        </div>
    </footer>

</body>
</html>